@font-face {
     font-family: 'Avenir Next Cyr';
     src: url('./shared/fonts/AvenirNextCyr-Regular.woff') format('woff'),
          url('./shared/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Avenir Next Cyr';
     src: url('./shared/fonts/AvenirNextCyr-Bold.woff') format('woff'),
          url('./shared/fonts/AvenirNextCyr-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Avenir Next Cyr';
     src: url('./shared/fonts/AvenirNextCyr-Italic.woff') format('woff'),
          url('./shared/fonts/AvenirNextCyr-Italic.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
   }
   